# Dependencies
node_modules
npm-debug.log*

# Next.js
.next
out

# Environment
.env
.env*.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
docker-compose*.yml
Dockerfile
.dockerignore

# Misc
README.md
revisi
*.md
